<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Server" value="." />
    <add key="DataBase" value="VENTA_MERCADERIA" />
    <add key="User" value="" />
    <add key="Password" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>
